button{
    border-radius: 5px;
}

.login-body{
    background-image: url(/images/login-background.gif);
}


.form-container {
    width: 23em;
    margin: 0px auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #abcd;
    padding: 30px;
    margin-top: 15vh;
}

.logo-header{
    text-align: center;
    margin-bottom: 20px;

}

.rvlogo{
    height: 100px;
    width: 100px;
    margin: 10px;
}

.login-submit{
    margin-top:20px;
}